<!--<Button text="Salir" (tap)="salir()" class="btn btn-primary"></Button> -->


<ActionBar title="Mascotas Home">
    <ActionItem
    android.systemIcon="ic_menu_camera"
    android.position = "left"
    (tap) = "irCamara()" text = "Camara">
    </ActionItem>

    <ActionItem
    android.systemIcon="ic_lock_power_off"
    android.position = "right"
    (tap) = "salir()" text = "Salir">
    </ActionItem>

    

</ActionBar>

<GridLayout>
    <ListView [items]="mascota">
        <ng-template let-item="item">            
            <StackLayout>
                <Label [text]="item.tipoMascota"></Label>
                <Label [text]="item.nacimiento"></Label>
                <Label [text]="item.propietario"></Label>
                <Button text="foto" (tap)="goToCamara()" class="btn btn-primary"></Button>
            </StackLayout>        
        </ng-template>
    </ListView>
    <Button text="Salir" (tap)="salir()" class="btn btn-primary"></Button>
</GridLayout>


<!--
<GridLayout backgroundColor="#CCCCCC">
    <ScrollView>
        <StackLayout margin="20" verticalAlignment="center" class="form" 
        padding="15" backgroundColor="#FFFFFF"> 
            <ListView [items]="animales" class="picker">
                <ng-template let-item="item">            
                    <StackLayout>
                        <Label [text]="item.codigo"></Label>
                        <Label [text]="item.tipoMascota"></Label>
                        <Label [text]="item.nacimiento"></Label>
                        <Label [text]="item.propietario"></Label>
                        <Label [text]="item.vacuna"></Label>
                    </StackLayout>        
                </ng-template>
            </ListView>
            <Button text="Buscar" class="btn btn-primary"></Button> 
        </StackLayout>
    </ScrollView>
</GridLayout>   
   
-->